body{
	font-family:Lucida,Helvetica,sans-serif;
	background-color: #d3d1d1;
}
#topContainer{ 
	width:100%;
	position:relative;
	height:150px;
}
#bannerBg{
	width: 100%;
	position:relative;
	bottom:100px;
	background-color:#ba0e0e
	padding: 10px;
}
#navBar{
	position: relative;
	background-color: black;
	width:100%;
	top:100px;
	height: 40px;
}
#navBar ul{
	list-style-type: none;
    padding: 0;
    background-color: #f1f1f1;
}
#navBar li{
	margin:10px;
}
#navBar li a{
	float: left;
	center: 50%;
	text-align: center;
	display: inline;
	color: #ba0e0e;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px; 
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
#navBar li a:hover {
	color: #7a7a7a;
}

#navBar li a:hover:not(.active) {
    color: ##ba0e0e;
}

#navBar .active {
    color: #7a7a7a;
    display: block;
    bottom:0;
    background-color: #ba0e0e;
}