body{
	font-family: 'Roboto', sans-serif;
	background-color: #d3d1d1;
}
var animationSpeed = 0.5;
/*Top Formatting*/
#topContainer{
	width:100%;
	top: 0;
	height:300px;
	overflow: hidden;
}
#navBar{
	top:200px;
	height: 70px;
	text-align: center;
}
#navBar ul{
		list-style-type: none;
		padding: 10%;
    padding-top: 10px;
		padding-bottom: 10px;
    overflow: hidden;
    background-color: #282828;
		display:inline-block;
}
#navBar li{
	float: left;
}
#navBar li a{
	text-align: center;
	color: #c92424;
	text-align: center;
	padding: 30px;
	text-decoration: none;
  font-weight: bold;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
	transition: background-color 0.5s;
}
#navBar li a:hover {
	color: #e8e8e8;
	background-color: #ba0e0e;
}

#navBar li a:hover:not(.active) {
    color: #e8e8e8;
}

#navBar .active {
    color: #e8e8e8;
    top:10px;
    background-color: #ba0e0e;
}
